
<div class="line-pos">
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <div class="lines"></div>
     <img class="ctn-logo" src="components/header/img/creating_the_next_gold.svg" alt="creating the next" width="280px;">
</div>

<div id="head">
     <div class="accent"></div>
     <div class="header">
          <img src="components/header/img/gt-logo.svg" alt="Georgia Tech Logo" width="210px">
          <div>
               <h1 class="title">
                    {{header.app.info.client.name | uppercase}}
               </h1>
          </div>
          <div class="current">
               <div class="date">
                    <span id="weekday">{{header.app.currentTime | date : "EEEE" : "-0500"}}</span><br>
                    <span id="time">{{header.app.currentTime | date : "shortTime" : "-0500"}}</span><br>
                    <span id="month">{{header.app.currentTime | date : "longDate" : "-0500"}}</span>
               </div>
          </div>
     </div>
</div>


