<div class="line-pos">
	<div 
		ng-repeat="x in header.lines.get(header.lines.number) track by $index"
		class="lines">
	</div>
	<img 
		class="ctn-logo" 
		src="components/header/img/creating_the_next_gold.svg" 
		alt="creating the next">
</div>

<div
	id="menu"
	class=""
	ng-class="{open: header.menu.isOpen}">
	<div class="menu-top">
		<img 
			ui-sref="home"
			id="gt-logo"
			src="components/header/img/gt-logo.svg" 
			alt="Georgia Tech Logo">
		<div class="hamburger variable-width" ng-click="header.app.darkmode.toggle()">
			<p>
				<span>Dark Mode: </span> 
				<span ng-if="header.app.darkmode.isOn == true">off</span>
				<span ng-if="header.app.darkmode.isOn == false">on</span>
			</p>
		</div>
		<div 
			class="hamburger"
			ng-click="header.menu.toggle()">
			<div>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<div class="menu-body">
		<ul>
			<li>Menu Item!!</li>
			<li>Menu Item!!</li>
			<li>Menu Item!!</li>
			<li>Menu Item!!</li>
			<li>Menu Item!!</li>
			<li>Menu Item!!</li>
		</ul>
		<button
			ng-click="header.app.darkmode.toggle()">
			Turn On Dark Mode
		</button>
	</div>
</div>

<!-- <div id="head">
	<div class="accent"></div>
	<div class="header">
		<img src="components/header/img/gt-logo.svg" alt="Georgia Tech Logo" width="210px">
		<div>
			<h1 class="title">
				{{header.app.data.thisCustomer.name_long | uppercase}}
			</h1>
		</div>
		<div class="current">
			<div class="date">
				<span
					id="weekday">{{header.app.currentTime | date : "EEEE" : "-0500"}}</span><br>
				<span
					id="time">{{header.app.currentTime | date : "shortTime" : "-0500"}}</span><br>
				<span id="month">{{header.app.currentTime | date : "longDate" : "-0500"}}</span>
			</div>
		</div>
	</div>
</div> -->