html, body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     height: 100vh;
     overflow-x:hidden; 
}

body{
     ui-view{
          height: auto;
          background: red;
     }
     &:not(.home){
          ui-view{
               display: block;
               @include flex(column);
               height: 100%;
          }
     }
}
