<!DOCTYPE html>
<html 
     lang="en"
     ng-app="now-playing"
     ng-controller="appCtrl as app">

<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Now Playing</title>
<!--------------------------------------------------------------------------------------------------->
<!-- JQUERY -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<!-- AJS -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
     <!-- Modules -->
          <script src="assets/js/ajs modules/ui.router.js"></script>
          <script src="assets/js/ajs modules/angular-animate.min.js"></script>
<!-- CSS -->
     <link rel="stylesheet" href="assets/css/main.css">
<!--------------------------------------------------------------------------------------------------->
</head>

<body class="{{app.route.to}}">

	<ui-view>
		<!-- routes/customer/customer.html -->
	     </ui-view>
	
		<!-- <button ng-if="app.route.to == 'home'" ui-sref="csvtest">CSV TEST</button> -->

     <div
	ng-hide="true"
          ng-if="app.route.to == 'home'">
          <h2>Admissions</h2>
          <button
               ui-sref="screen({customer: 'admissions', player: null})">
               /admissions
          </button>
          <button
               ui-sref="screen({customer: 'admissions', player: 1})">
               /admissions/1 (1 media 1 dir)
          </button>
          <button
               ui-sref="screen({customer: 'admissions', player: 3})">
               /admissions/3 (0 media 1 dir)
          </button>
          <button
               ui-sref="screen({customer: 'admissions', player: 44})">
               /admissions/44 (player does not exist)
          </button>
          <hr>
          <h2>Architecture</h2>
          <button
               ui-sref="screen({customer: 'arch', player: 2})">
               /arch/2 (2 media, 0 dir)
          </button>
          <hr>
          <h2>No Customer</h2>
          <button
               ui-sref="screen({customer: 'crc', player: 6})">
               /crc/6 (customer does not exist)
          </button>
     </div>

     <div
          ng-if="app.errormessage"
          ng-bind-html="app.errormessage">
     </div>

</body>

<!--------------------------------------------------------------------------------------------------->
<!-- APP -->
     <script src="app.js"></script>
     <script src="components/ticker/breaking-news-ticker.min.js"></script>
     <!-- ROUTES -->
          <script src="routes/home/home.js"></script>
          <script src="routes/screen/screen.js"></script>
          <script src="routes/csvtest/csv.js"></script>
     <!-- COMPONENTS -->
          <script src="components/header/header.js"></script>
          <script src="components/ticker/ticker.js"></script>
          <script src="components/keyboard/keyboard.js"></script>
          <!-- MAIN -->
               <script src="components/main/leftsection/leftsection.js"></script>
               <script src="components/main/events/events.js"></script>
               <!-- PLAYLISTS -->
                    <script src="components/main/playlists/playlists.js"></script>
                    <script src="components/main/playlists/directory/directory.js"></script>
                    <script src="components/main/playlists/slideshow/slideshow.js"></script>
     <!-- SERVICES -->
          <script src="services/data_get.js"></script>
     <!-- DIRECTIVES -->
          <script src="directives/draggable.js"></script>
<!--------------------------------------------------------------------------------------------------->

</html>