<!DOCTYPE html>
<html 
     lang="en"
     ng-app="app"
     ng-controller="appCtrl as app">

<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Now Playing</title>
<!--------------------------------------------------------------------------------------------------->
     <script src="database/___sample-data.js"></script> 
<!-- JQUERY -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<!-- AJS -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
     <!-- Modules -->
          <script src="assets/js/ajs modules/ui.router.js"></script>
          <script src="assets/js/ajs modules/angular-animate.min.js"></script>
<!-- CSS -->
     <link rel="stylesheet" href="assets/css/main.css">
<!--------------------------------------------------------------------------------------------------->
</head>

<body class="{{app.route.to}}">

     <div
          ng-if="app.route.params.customer == undefined">
          <button
               ui-sref="screen({customer: 'admissions'})">
               /admissions
          </button>
          <button
               ui-sref="screen({customer: 'admissions', player: 44})">
               /admissions/44 (player does not exist)
          </button>
          <button
               ui-sref="screen({customer: 'arch', player: 2})">
               /arch/2
          </button>
          <button
               ui-sref="screen({customer: 'crc', player: 6})">
               /crc/6 (customer does not exist)
          </button>
     </div>

     <div
          ng-if="app.errormessage"
          ng-bind-html="app.errormessage">
     </div>

     <ui-view>
          <!-- routes/customer/customer.html -->
     </ui-view>

     <div ng-if="app.route.params.customer == undefined">
          <h1>This directory does not belong to a specific program or screen.</h1>
          <a href="http://digitalsignage.gatech.edu">Return home</a>
          <hr>
          <h1>App.Data</h1>
          <pre>
               <!-- <code> -->
                    {{app.data}}
               <!-- </code> -->
          </pre>
          <h1>App.SampleData</h1>
          <pre>
               <!-- <code> -->
                    {{app.siteData}}
               <!-- </code> -->
          </pre>
     </div>
     
</body>

<!--------------------------------------------------------------------------------------------------->
<!-- APP -->
     <script src="app.js"></script>
     <script src="components/ticker/breaking-news-ticker.min.js"></script>
     <!-- ROUTES -->
          <script src="routes/home/home.js"></script>
          <script src="routes/screen/screen.js"></script>
     <!-- COMPONENTS -->
          <script src="components/header/header.js"></script>
          <script src="components/ticker/ticker.js"></script>
          <script src="components/keyboard/keyboard.js"></script>
          <!-- MAIN -->
               <script src="components/main/leftsection/leftsection.js"></script>
               <script src="components/main/slideshow/slideshow.js"></script>
               <script src="components/main/events/events.js"></script>
               <script src="components/main/list/list.js"></script>
     <!-- SERVICES -->
          <script src="services/data_get.js"></script>
     <!-- DIRECTIVES -->
          <script src="directives/draggable.js"></script>
<!--------------------------------------------------------------------------------------------------->

</html>