
<div id="search">
     <input 
          id="dir-input"
          type="text"
          my-text=""
          placeholder="{{directory.currentItem.title}}">
     <keyboard></keyboard>
</div>

<div id="mydiv" draggable class="other" ng-hide="true">
     <div id="mydivheader">Click to move</div>
     <p>Move</p>
     <p>this</p>
     <p>DIV</p>
</div>

<!-- <div id="mydiv">
     <div id="mydivheader">Click to move</div>
     <p>Move</p>
     <p>this</p>
     <p>DIV</p>
</div> -->

<table>
	<thead>
		<tr>
			<th ng-repeat="(key, value) in directory.table.info.headers">
				{{value}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(k, v) in directory.tabledata | filter:directory.keyboardSearchObject">
			<td ng-if="v[0]">{{v[0]}}</td>
			<td ng-if="v[1]">{{v[1]}}</td>
			<td ng-if="v[2]">{{v[2]}}</td>
			<td ng-if="v[3]">{{v[3]}}</td>
			<td ng-if="v[4]">{{v[4]}}</td>
			<td ng-if="v[5]">{{v[5]}}</td>
			<td ng-if="v[6]">{{v[6]}}</td>
		</tr>
	</tbody>
</table>

<!-- Old Table
<table>
     <thead>
          <tr>
               <th>First Name</th>
               <th>First Name</th>
               <th>Floor</th>
               <th>Room</th>
          </tr>
     </thead>
     <tbody>
          <tr
               ng-repeat="x in directory.tabledata | filter:directory.keyboardSearchObject">
               <td>{{x.firstname}}</td>
               <td>{{x.lastname}}</td>
               <td>{{x.floor}}</td>
               <td>{{x.room}}</td>
          </tr>
     </tbody>
</table> -->