<article
	ng-if="item.app.route.params.playlist == 'all'">
	HELLOOOOOOOOO
	{{item.sample}}
	<h1>This Customer's name: {{item.info.customer}}</h1>
	<h2>This Player's id: {{item.info.player}}</h2>
</article>
<article>
	HELLOOOOOOOOO
	{{item.sample}}
	<h1>This Customer's name: {{item.info.customer}}</h1>
	<h2>This Player's id: {{item.info.player}}</h2>
</article>


<article 
	id="main"
	ng-if="item.app.route.params.playlist !== 'all'">
	<playlists>
		<!-- Include media, directory, or both. -->
	</playlists>
</article>

<ticker></ticker>