<div ng-if="item.app.route.params.playlist == 'all'">
	
	<section>
		<div class="container">
			<h1>{{item.app.data.thisPlayer.name_long}}</h1>
		</div>
	</section>

	<section ng-if="item.app.data.allPlaylists.mediaPlaylists.length > 0">
		<div class="container">
			<h3>Slideshows</h3>
			<div class="box-list">
				<div 
					ng-repeat="x in item.app.data.allPlaylists.mediaPlaylists"
					class="box">
					<div class="box-bottom">
						<h6>{{x.name}}</h6>
						<p>{{x.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section ng-if="item.app.data.allPlaylists.directoryPlaylists.length > 0">
		<div class="container">
			<h3>Directories</h3>
			<div class="box-list">
				<div 
					ng-repeat="x in item.app.data.allPlaylists.directoryPlaylists"
					class="box">
					<div class="box-bottom">
						<h6>{{x.name}}</h6>
						<p>{{x.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>










<!-- Below is the stuff for if it's a certain screen's playlist playing... -->
<article 
	id="main"
	ng-if="item.app.route.params.playlist !== 'all'">
	<playlists>
		<!-- Include media, directory, or both. -->
	</playlists>
</article>

<!-- <ticker></ticker> -->