<div 
     class="slider animate-switch-container"
     ng-switch
     on="slideshow.selection">
     <div 
          ng-switch-when="0"
          class="slide animate-switch"
          style="background-image: url('../../components/main/slideshow/img/01.jpeg')">
     </div>
     <div 
          ng-switch-when="1"
          class="slide animate-switch"
          style="background-image: url('../../components/main/slideshow/img/02.jpeg')">
     </div>
     <div 
          ng-switch-when="2"
          class="slide animate-switch"
          style="background-image: url('../../components/main/slideshow/img/03.jpeg')">
     </div>
</div>
