html,
body {
	font-family: 'Roboto', sans-serif;
	// background: red;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		margin-bottom: 1rem;
		line-height: 1em;
		span{
			font-size: inherit;
			opacity: .4;
			margin: .25rem;
		}
		&:only-child{
			margin: 0;
		}
	}
	h1{
		margin-bottom: 1rem;
	}
	h6{
		margin-bottom: .15rem;
	}
	p,
	span{
		font-size: .66rem;
		line-height: 1.75em;
	}
}