:root{
	font-size: 30px!important;
}
html, body{
     margin: 0;
     padding: 0;
     box-sizing: border-box!important;
     height: 100vh;
     overflow-x:hidden; 
}
// typography
h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin: 0;
}

body{
	section{
		padding: 1rem .66rem .75rem;
	@include breakpoint(sm){ // > 600
		// padding-bottom: .75rem;
	}
	@include breakpoint(lg){ // > 1360
		.container{
			// background: blue;
			max-width: 1320px;
			margin: 0 auto;
		}
	}}
}