<h1>jasdf;lakjsd;flkajsdf;as</h1>
<h1>{{customer.currentCustomer.name_long}}</h1>

<!-- <header></header> -->

<article id="main">
     <leftsection 
          ng-if="customer.app.info.player.sections.leftsection">
     </leftsection>
     <slideshow 
          ng-if="customer.app.info.player.sections.slideshow">
     </slideshow>
     <list 
          ng-if="customer.app.info.player.sections.list">
     </list>
     <events 
          ng-if="customer.app.info.player.sections.events">
     </events>
</article>

<!-- <ticker></ticker> -->
