@media (max-width: 1900px) {
  body:before {
    content: "v";
  }
}
@media (min-width: 1900px) {
  body:before {
    content: "h";
  }
}
body:before {
  display: none;
}

body {
  background: #ececec;
}
body.darkmode {
  background: #161616;
  color: white !important;
}
body.darkmode .box {
  background: #272727 !important;
}
body.darkmode .box.empty {
  background: black !important;
}
body.darkmode .box.empty .box-top,
body.darkmode .box.empty .box-bottom {
  opacity: 0.7;
}

html,
body {
  font-family: "Roboto", sans-serif;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-bottom: 1rem;
  line-height: 1em;
}
html h1 span,
html h2 span,
html h3 span,
html h4 span,
html h5 span,
html h6 span,
body h1 span,
body h2 span,
body h3 span,
body h4 span,
body h5 span,
body h6 span {
  font-size: inherit;
  opacity: 0.4;
  margin: 0.25rem;
}
html h1:only-child,
html h2:only-child,
html h3:only-child,
html h4:only-child,
html h5:only-child,
html h6:only-child,
body h1:only-child,
body h2:only-child,
body h3:only-child,
body h4:only-child,
body h5:only-child,
body h6:only-child {
  margin: 0;
}
html h1,
body h1 {
  margin-bottom: 1rem;
}
html h6,
body h6 {
  margin-bottom: 0.15rem;
}
html p,
html span,
body p,
body span {
  font-size: 0.66rem;
  line-height: 1.75em;
}

.animate-switch-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.animate-switch-container .animate-switch.ng-animate {
  transition: left 0.75s;
  position: absolute;
}
.animate-switch-container .animate-switch.ng-leave.ng-leave-active {
  z-index: 0;
  right: 100vw;
}
.animate-switch-container .animate-switch.ng-enter {
  z-index: 1;
  left: -100vw;
}
.animate-switch-container .animate-switch.ng-leave {
  left: 0;
  z-index: 0;
}
.animate-switch-container .animate-switch.ng-enter.ng-enter-active {
  z-index: 1;
  left: 0;
}

:root {
  font-size: 30px !important;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body ui-view {
  display: block;
  padding-top: 3rem;
}
@media (min-width: 600px) {
  body ui-view {
    padding-top: 3rem;
  }
}
@media (min-width: 1000px) {
  body ui-view {
    padding-top: 4rem;
  }
}
body section {
  padding: 1rem 0.66rem 0.75rem;
}
@media (min-width: 1360px) {
  body section .container {
    max-width: 1320px;
    margin: 0 auto;
  }
}

.box-list .box {
  padding: 32px 32px 24px 32px;
  margin: 0 0 0.75rem 0;
  background: white;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover !important;
}
.box-list .box:last-of-type {
  margin-bottom: 0;
}
.box-list .box p {
  font-style: italic;
  color: #afafaf;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.box-list .box .box-container {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.box-list .box .box-container > *:not(.indicator) {
  z-index: 500;
}
.box-list .box .box-container .indicator {
  width: 12px;
  height: 12px;
  background: lime;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}
.box-list .box .box-container .box-top {
  position: relative;
}
.box-list .box .box-container .box-top:first-of-type h6 {
  width: unset;
}
.box-list .box .box-container .box-top h6 {
  width: calc(100% - 24px);
}
.box-list .box .box-container .box-bottom {
  margin-top: auto;
  position: relative;
  letter-spacing: 0;
}
.box-list .box .box-container .box-bottom span {
  margin-top: 0;
  font-size: 16px;
  color: #999999;
}
.box-list .box .box-container .box-bottom span.players-playlists-media {
  margin-right: 12px;
}
.box-list .box .box-container .box-bottom span.players-playlists-directories {
  letter-spacing: 0;
}
.box-list .box .viewmore {
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 0;
  right: 0;
}
.box-list .box .viewmore span {
  display: block;
  line-height: 1.2rem;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  background: #ececec;
  color: darkgray;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}
.box-list .box.bg-img {
  background-size: cover !important;
  height: 240px;
}
.box-list .box.bg-img .box-top *,
.box-list .box.bg-img .box-bottom * {
  color: white;
}
.box-list .box.bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-170deg, rgba(0, 0, 0, 0.35), black);
  z-index: 1;
}
.box-list .box.collapsed {
  height: 100px;
}
.box-list .box.collapsed .box-bottom {
  margin-top: 0;
}
.box-list .box.empty {
  background: #dddddd;
}
.box-list .box.empty .box-top h6 {
  color: gray;
}
@media (min-width: 600px) {
  .box-list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .box-list .box {
    width: calc(50% - 74px);
    display: inline-block;
    height: 180px;
    margin: 0 0.66rem 0.66rem 0;
  }
  .box-list .box:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 1000px) {
  .box-list .box {
    width: calc(33.33% - 79px);
    margin: 0 0.66rem 0.66rem 0;
  }
  .box-list .box:nth-of-type(even) {
    margin-right: 0.66rem;
  }
  .box-list .box:nth-of-type(3n+0) {
    margin-right: 0;
  }
}

header {
  display: block;
  margin: 0;
  height: 2.5rem;
  width: 100%;
  background: #b3a369;
  position: fixed;
  z-index: 1000;
}
header .line-pos {
  display: none;
}
header .line-pos .ctn-logo {
  display: none;
}
header #menu {
  width: 100%;
  z-index: 1000;
}
header #menu .menu-top {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header #menu .menu-top #gt-logo {
  opacity: 0.7;
  height: 1.5rem;
  margin-left: 0.75rem;
  margin-right: auto;
}
header #menu .menu-top .hamburger {
  opacity: 0.6;
  height: 2.5rem;
  width: 2.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header #menu .menu-top .hamburger div {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header #menu .menu-top .hamburger div span {
  background: black;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
header #menu .menu-top .hamburger.variable-width {
  width: auto;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.187);
}
header #menu .menu-body {
  background: #b3a369;
  position: fixed;
  width: 100%;
  height: 0;
  transition: 1s;
  overflow-y: scroll;
}
header #menu .menu-body ul {
  margin: 0;
}
header #menu.open .menu-body {
  height: calc(100% - 2.5rem);
}

@media (min-width: 1360px) {
  header #menu .menu-top {
    max-width: 1320px;
    margin: 0 auto;
  }
  header #menu .menu-body > *,
header #menu .menu-body > ul {
    max-width: 1320px;
    margin: 0px auto;
  }
}
#main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 215px);
}
@media (min-width: 1900px) {
  #main {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }
}

events {
  background: #616161;
  flex: 0.25;
}
@media (max-width: 1900px) {
  events {
    flex: 0.35;
    background: blue;
  }
}

.evtslide {
  right: 0;
  height: 730px;
  width: 25%;
  float: right;
  position: absolute;
  overflow: hidden;
}
.evtslide .slider-content {
  position: absolute;
  width: 100%;
  height: 730px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.evtslide .slider-content2 {
  position: absolute;
  width: 100%;
  height: 730px;
  background: url("../images/graybg2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.evt-title {
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.75rem;
  top: -15px;
}

.evt-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  clear: both;
  text-align: center;
  margin-bottom: 0;
  color: #f6b71b;
}

.evt-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  margin-top: 5px;
}

.evt-info {
  width: 80%;
  height: 40px;
  background-color: #f6b71b;
  margin: 0 auto;
  margin-top: -8px;
  box-shadow: 0px 5px 5px #000;
}
.evt-info p {
  text-align: center;
  font-weight: 900;
  font-size: 1.3rem;
  padding-top: 7px;
}

leftsection {
  background: yellow;
  flex: 0.25;
}

playlists {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex: 0.65;
  height: 100%;
  position: relative;
}
playlists button#playlist-switch {
  background: #b3a369;
  border: 0px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 1;
}
playlists #playlists-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
playlists #playlists-container > * {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
@media (min-width: 1900px) {
  playlists {
    flex: 0.75;
  }
}

slideshow {
  background: #2e2e2e;
}
slideshow .slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

directory {
  background: black;
  color: white;
}
directory #search {
  padding: 24px 50px;
}
directory #search input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  background: black;
  border: 2px white solid;
  border-radius: 75px;
  color: white;
  font-size: 36px;
  padding-left: 42px;
}
directory #search input::placeholder {
  color: white;
}
directory table {
  color: white;
  width: 100%;
}
directory table tr {
  height: 75px;
}
directory table tbody tr:nth-of-type(odd) {
  background: #1f1f1f;
}

ticker {
  background: #b3a369;
  height: 75px;
  display: block;
}
ticker > div {
  height: 100%;
}
ticker > div div.bn-news ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}
ticker > div div.bn-news ul li {
  list-style: none;
  height: 100%;
}
ticker > div div.bn-news ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 22px;
  width: unset;
}

.keyboard-container {
  display: inline-block;
  text-align: center;
  background: #4d4d4d;
}
.keyboard-container ul {
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.keyboard-container ul li.btn {
  background-color: gray;
  display: inline-block;
  width: 90px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-left: 5px;
  border-radius: 3px;
  border: solid 1px black;
}
.keyboard-container ul li.btn:hover {
  background-color: aliceblue;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}
#mydiv #mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
#mydiv.other {
  top: 0;
  left: 0;
}
#mydiv.other #mydivheader {
  background: red;
}

body.screen ui-view {
  padding-top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
