body.home{
	// background: blue!important;
}

header {
	display: block;
	// clear: both;
	margin: 0;
	// background: green;
	height: 2.5rem;
	background: $techgold;
	.line-pos{
		// background: purple;
	}
}


