.box-list{
	.box{
		padding: 32px 32px 24px 32px;
		margin: 0 0 .75rem 0;
		background: white;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		&:last-of-type{
			margin-bottom: 0;
		}
		p{
			font-style: italic;
			color: rgb(175, 175, 175);
			font-size: 16px;
			letter-spacing: .05em;
		}
		.indicator{
			width: 12px;
			height: 12px;
			background: lime;
			border-radius: 50%;
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
		.box-top{
			&:first-of-type{
				h6{
					width: unset;
				}
			}
			h6{
				width: calc(100% - 24px);
			}
		}
		.box-bottom{
			// margin-top: .5rem;
			letter-spacing: 0;
			span{
				margin-top: 0;
				font-size: 16px;
				color: rgb(153, 153, 153);
				&.players-playlists-media{
					margin-right: 12px;
				}
				&.players-playlists-directories{
					letter-spacing: 0;
				}
			}
		}
		.viewmore{
			// background: green;
			position: absolute;
			width: 2rem;
			height: 2rem;
			bottom: 0;
			right: 0;
			span{
				display: block;
				line-height: 1.2rem;
				text-align: center;
				font-size: 1rem;
				margin: 0;
				background: $offwhite;
				color: darkgray;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
			}
		}
		&.empty{
			background: rgb(221, 221, 221);
			.box-top{
				h6{
					color: gray;
				}
			}
		}
	}
@include breakpoint(sm){ // > 600
	@include flex();
	flex-wrap: wrap;
	.box{
		width: calc(50% - 74px);
		display: inline-block;
		height: 180px;
		margin: 0 .66rem .66rem 0;
		&:nth-of-type(even){
			margin-right: 0;
		}
		.box-bottom{
			position: absolute;
			bottom: 1rem;
			left: 1rem;
		}
	}
}
@include breakpoint(md){ // > 1000
	.box{
		width: calc(33.33% - 79px);
		margin: 0 .66rem .66rem 0;
		&:nth-of-type(even){
			margin-right: .66rem;
		}
		&:nth-of-type(3n+0){
			margin-right: 0;
		}
	}
}}