//sidebar events feed

events {
    background: rgb(97, 97, 97);
    flex: .25;

    @include breakpoint(v) {
        flex: .35;
        background: blue;
    }
}

.evtslide {
    right: 0;
    height: 730px;
    width: 25%;
    float: right;
    position: absolute;
    overflow: hidden;

    .slider-content {
        position: absolute;
        width: 100%;
        height: 730px;
        background: url('../images/bluebg2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .slider-content2 {
        position: absolute;
        width: 100%;
        height: 730px;
        background: url('../images/graybg2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.evt-title {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.75rem;
    top: -15px;
}

.evt-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    clear: both;
    text-align: center;
    margin-bottom: 0;
    color: #f6b71b;

}

.evt-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

.evt-info {
    width: 80%;
    height: 40px;
    background-color: #f6b71b;
    margin: 0 auto;
    margin-top: -8px;
    ;
    box-shadow: 0px 5px 5px #000;

    p {
        text-align: center;
        font-weight: 900;
        font-size: 1.3rem;
        padding-top: 7px;
    }

}