//footer and news ticker
ticker {
     background: #b3a369;
     // background: cyan;
     height: 75px;
     > div{
          // background: blue;
          // > div{
          //      background: purple;
          // }
          // .bn-news{
               // @include flex(row);
          // }
          div.bn-news{
               ul{
                    @include flex(row);
                    li{
                         list-style: none;
                         padding-right: 40px;
                         a{
                              text-decoration: none;
                              font-weight: bold;
                              color: black;
                              font-size: 22px;
                         }
                    }
               }
          }
     }
}