body {
	ui-view {
		height: 100vh;
		display: block;
		padding-top: 4rem;
	}
// now playing screen styles
	&.screen{
	// &.screen-item {
		ui-view {
			padding-top: 0;
			@include flex(column);
			height: 100%;
		}
	}
}