<!-- <div class="evtslide" ng-switch='slideshow' ng-animate="'animate'"> -->
     <div class="slider-content">
          <h3 class="evt-title">ATHLETICS</h3>
          <!--event text-->
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>
          <!--event text-->
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>
          <!--event text-->
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>


     </div>
     <div class="slider-content2" ng-switch-when="2">
          <p class="evt-title">EVENTS</p>

     </div>
     <div class="slider-content" ng-switch-when="3">
          <h3 class="evt-title">EVENTS</h3>

     </div>
     <div class="slider-content2" ng-switch-when="4">
          <h3 class="evt-title">EVENTS</h3>

     </div>
<!-- </div> -->
