<div 
     class="evtslide animate-switch-container" 
     ng-switch
     on="events.selection">
     <div 
          class="slider-content animate-switch"
          ng-switch-when="0">
          <h3 class="evt-title">ATHLETICS</h3>
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>
     </div>
     <div 
          class="slider-content animate-switch"
          ng-switch-when="1">
          <h3 class="evt-title">ACADEMICS</h3>
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>
          <div>
               <p class="evt-subtitle">Men's Basketball</p>
               <p class="evt-text">Men's basketball hosts Duke University</p>
               <div class="evt-info">
                    <p>12/08 | 9PM | McCamish Pavilion</p>
               </div>
          </div>
     </div>
</div>
