<div id="search">
     <input 
          type="text"
          my-text=""
          placeholder="Search Directory"
          ng-model="list.searchObject">

     <keyboard></keyboard>

</div>


<div id="mydiv" draggable class="other">
     <div id="mydivheader">Click to move</div>
     <p>Move</p>
     <p>this</p>
     <p>DIV</p>
</div>

<!-- <div id="mydiv">
     <div id="mydivheader">Click to move</div>
     <p>Move</p>
     <p>this</p>
     <p>DIV</p>
</div> -->

<table>
     <thead>
          <tr>
               <th>First Name</th>
               <th>First Name</th>
               <th>Floor</th>
               <th>Room</th>
          </tr>
     </thead>
     <tbody>
          <tr
               ng-repeat="x in list.tabledata | filter:list.searchObject">
               <td>{{x.firstname}}</td>
               <td>{{x.lastname}}</td>
               <td>{{x.floor}}</td>
               <td>{{x.room}}</td>
          </tr>
     </tbody>
</table>