//sidebar events feed
.evt-title{
    position:absolute;
    z-index:1;
    left:38%;
    font-family: 'Roboto Slab', sans-serif;
    font-size:1.75rem;
    top:-15px;
}


.evtslide{
	/*width:100%;
	height:400px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow:hidden;
    position:relative;*/
    right:0;
    height:690px;
    width:26.7%;
    float:right;
    position:absolute;
    overflow:hidden;
    
 .slider-content {
  position: absolute;
  width:100%;
  height:690px;
  background: url('../images/bluebg2.png');
  background-size:100%;
  background-repeat: no-repeat;
}
.slider-content2 {
    position: absolute;
    width:100%;
    height:690px;
    background: url('../images/graybg2.png');
    background-size:100%;
    background-repeat: no-repeat;
  }
}

.animate-enter,.animate-leave {
	-webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
	left:100%;
}

.animate-enter.animate-enter-active {
	left:0;
}

.animate-leave {
	left:0;
}

.animate-leave.animate-leave-active {
	margin-left:-100%;
}

.current-time{
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;

  iframe{
    font-family: 'Roboto Slab', sans-serif;
  }
}

.date{
  text-align:center;
}